@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* Your custom styles can go here */

@layer utilities {
  main {
    overflow-x: hidden;
  }

  .slide {
    animation: slide 0.8s ease-out;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(-300px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .scale {
    animation: scale 3s ease-out;
  }
  @keyframes scale {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

  .rotate {
    animation: rotate 25s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .first-section-text {
    text-shadow: 1px 1px #000000;
  }

  .slideD {
    animation: slideD 1s ease-out;
  }
  @keyframes slideD {
    0% {
      opacity: 0;
      transform: translate(-50%, -300px);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, 0px);
    }
  }
}
